.container {
  margin: 0 10%;
  width: 100%;
}
.App {
  text-align: center;
}.card {
  text-align: center;
}
.card img {
  height: 150px;
  margin-top: 2em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bets {
  font-size: 1.3em;
  font-weight: 600;
  color: #1d418c;
  padding: 2px;
  font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
